
:root {
    --black1 : #000000;
    --white1 : #FFFFFF;
    --white2 : #F5F5F5;
    --grey1 : #D9D9D9;
    --blue1 : #0071e3;
    --blue2 : #AED6F1;
    --pc : #74C947;

    --normal-font: "Times New Roman", Times, serif;
    --title-font: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--normal-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: white;
}

body.flex {
    flex-direction: column;
}

 

/********** Header ***********/
header {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.flex {
    justify-content: space-around;
}


/* App Logo */
#app-logo img {
    width: 75px;
    height: 45px;
}

#app-logo:hover {
    cursor: pointer;
}


/*** Search Bar ***/
#search-bar {
    height: 3em;
}

/**** Search Field ****/
#search-field {
    width: 25em;
    height: 2em;
    padding: 0 5px;
    font-size: 1.1em;
}

/***** Search Button *****/
#search-button {
    color: white;
    font-size: 1.005em;
    background-color: var(--blue1);
    width: 6.25em;
    height: 2em;
    margin-left: 1em;
}

#search-button:hover {
    cursor: pointer;
}


/* Nav Links */
#nav-links {
    list-style: none;
    position: relative;
}

#nav-links img:hover {
    cursor: pointer;
    border-radius: 1px;
    border-bottom: 2px solid black;
}


/* Options Dropdown */
#dropdown {
    display: inline-block;
    position: relative;
    margin-right: 2em;
}

/* show options while hover */
#dropdown:hover #dropdown-options{
    display: block;
}

#dropdown-icon {
    bottom: 0;
    display: block;
}

#dropdown-icon img {
    width: 75px;
    height: 45px;
}

#dropdown-options { 
    display: none;
    position: absolute;
    min-width: 75px;
    background-color: white;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.1);
}

#dropdown-options a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

#dropdown-options a:hover {
    background-color: #ddd;
}

/* Cart */
#cart img {
    width: 75px;
    height: 45px;
}

#cart-count {
    font-size: 1.2em;
    font-weight: 900;
}



/********** Main ***********/
main {
    background-color: var(--white2);
    width: 80%;
    min-height: 100%;
}
main.flex {
    flex-direction: column;
}



/********** Footer ***********/
footer {
    width: 100%;
    height: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}