

/* added linear-gradient */
main {
    /* background: linear-gradient(var(--pc), var(--white1) 35%); */
    background-color: white;
}

main section {
    width: 90%;
    margin: 50px 0;
}

/********** Main Display **********/
#main-display {
    /* background: linear-gradient(to right top, var(--blue2), white); */
    height: 25em;
    background: linear-gradient(var(--pc), var(--white1) 95%);
    width: 100%;
    height: fit-content;
    min-width: fit-content;
    margin-top: 0;
    padding: 2em 1em;
}

/* Description and Stuff */
#info {
    min-width: max-content;
    height: max-content;
    line-height: 2em;
}

#description {
    min-width: max-content;
}

#description h1 {
    line-height: 2.5em;
    font-size: 2em;
    font-weight: bold;
}

#description p {
    font-size: 1.2em;
    font-weight: 400;
}

/* Buy Button and More.. */
#more {
    font-size: 1em;
    font-weight: 400;
    width: max-content;
    height: max-content;
    min-width: max-content;
}

#more.flex {
    flex-direction: column;
    row-gap: 1em;
}

#more > button {
    background-color: var(--blue1);
    width: 3.75em;
    height: 1.25em;
    border-radius: 5px;
    border: none;
    color: white;
}

#more > button:hover {
    cursor: pointer;
}

#more > div > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Product Picture */
#product {
    max-width: 28.125em;
    height: 16.25em;
}



/********** Item Displays **********/
.item-display {
    column-gap: 3.125em;
    min-height: 25em;
}

.item {
    width: 18.75em;
    height: 18.75em;
}

.item:hover {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
}

.item.flex {
    flex-direction: column;
}

.thumb {
    height: 17.5em;
}

.price {
    height: 1.25em;
}

@media (max-width:649px) {

    main {
        min-width: 18.75em;
    }

    main.flex {
        background: linear-gradient(var(--blue1), var(--white1) 35%);
    }

    /* Main Display */
    #main-display.flex {
        flex-direction: column;
    }

    #info {
        margin-top: 2.5em;
        margin-bottom: 3.5em;
    }

    #more {
        margin-bottom: 2.5em;
    }

    #more.flex {
        flex-direction: row;
        column-gap: 0.7em;
    }

    #product {
        max-width: 15em;
    }

    /* Item Display */
    .item-display.flex {
        flex-direction: column;
    }

    .item {
        width: 8em;
    }

}

@media (min-width: 650px) and (max-width:960px) {

    main {
        min-width: 18.75em;
    }

    /* main.flex {
        background: linear-gradient(var(--blue1), var(--white1) 35%);
    } */

    /* Main Display */
    #main-display.flex {
        flex-direction: column;
    }

    #info {
        margin-top: 2.5em;
        margin-bottom: 3.5em;
    }

    #more {
        margin-bottom: 2.5em;
    }

    #more.flex {
        flex-direction: row;
        column-gap: 0.7em;
    }

    #product {
        max-width: 25em;
    }

    /* Item Display */
    .item-display {
        flex-wrap: wrap;
    }

    .item-display.flex {
        flex-wrap: wrap;
    }

    .item {
        width: 12.2em; 
    }

}

@media (min-width:961px) {

    #more {
        margin-left: 5em;
    }

    #product {
        margin-left: 10em;
        min-width: 12em;
    }

}